= form_for @review do |f|
  .row
    .span2
    .span6
      .row
        .span3
          .slot-machine
            %ul.slot.unstyled
              - @players.each_with_index do |p, i|
                %li
                  = image_tag avatar_url(p, 100), title: p.name, alt: p.name
        .span9
          .actions
            = f.hidden_field :player_id
            = button_tag 'Pick!', :class => 'go btn btn-success', :type => "button", 'data-loading-text' => "picking..."
    .span4
  .row
    .span1
    .span11
      %h3.winner 
        And the winner is:
        %span#winnername
  .row.comment
    .span1
    .span11
      .field
        = f.label :comment
        = f.text_area :comment, rows: 5, style: 'width: 400px'
  .row
    .span1
    .span11
      .actions
        -if @review.errors.any?
          = f.submit 'Send', :class => 'btn btn-primary btn-large', :title => 'Send the review'
        -else
          = f.submit 'Send', :class => 'btn btn-primary btn-large disabled', :disabled => 'disabled', :title => 'Send the review'